@model IEnumerable<TGLF.EVENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PLYERS_PER_TM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_ROUNDS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_ROUND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R1_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R2_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R3_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R4_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R5_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R1_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R2_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R3_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R4_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R5_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKINS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETSKINS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDCP_PCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IND_NET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLIND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IND_GRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDCP_TYP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EV_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TM_SKINS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEAGUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X1_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X2_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X3_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X4_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X5_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y1_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y2_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y3_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y4_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y5_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z1_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z2_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z3_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z4_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z5_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NINER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MULT_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RND_ROBIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENT_UP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUOTABASE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TMCAP_PCENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTE_WALKERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TR_OR_RND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLIGHTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAT_ADJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKIN_SPAN_TEE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R6_FORMAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R6_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X6_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y6_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z6_COURSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_OR_B6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JUNK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FBNINES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRUNKDOLL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROUNDDOLL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPONSOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RP_RESULTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TM_JUNK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST_SCORES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEAGRND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEAGTEEBOX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDCP_PCT_W)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVG_HDCP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPOFFLOW)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PLYERS_PER_TM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_ROUNDS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.START_ROUND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R1_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R2_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R3_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R4_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R5_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R1_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R2_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R3_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R4_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R5_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKINS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NETSKINS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDCP_PCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IND_NET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLIND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IND_GRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDCP_TYP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EV_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TM_SKINS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEAGUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X1_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X2_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X3_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X4_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X5_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y1_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y2_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y3_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y4_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y5_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z1_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z2_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z3_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z4_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z5_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NINER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MULT_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RND_ROBIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENT_UP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUOTABASE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TMCAP_PCENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTE_WALKERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TR_OR_RND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLIGHTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAT_ADJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKIN_SPAN_TEE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R6_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R6_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X6_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y6_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z6_COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_OR_B6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JUNK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FBNINES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRUNKDOLL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROUNDDOLL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPONSOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RP_RESULTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TM_JUNK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POST_SCORES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEAGRND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEAGTEEBOX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDCP_PCT_W)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AVG_HDCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAPOFFLOW)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
